slash/opt/spark/jars
slash/opt/spark/python
slash/opt/spark/sbin
slash/opt/spark/examples
slash/opt/spark/data
slash/opt/spark/R
slash/opt/spark/licenses
slash/opt/spark/conf
slash/opt/spark/bin
slash/opt/spark/yarn
slash/opt/spark/logs
slash/opt/spark/work
slash/opt/spark/LICENSE
slash/opt/spark/NOTICE
slash/opt/spark/README.md
slash/opt/spark/RELEASE
